@font-face {
    font-family: 'SouthernAire';
    src: url(../fonts/SouthernAire_Personal_Use_Only/SouthernAire_Personal_Use_Only.ttf) format('truetype');
}
@font-face {
    font-family: 'Simplemade';
    src: url(../fonts/Simplemade/SimplemadeFontDEMO-DEMO.ttf) format('truetype'),
    url(../fonts/Simplemade/SimplemadeFontDEMO-DEMO.otf) format('otf');
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  